# Database Credentials
POSTGRES_USER=fin-user
POSTGRES_PASSWORD=fin-password
POSTGRES_DB=fin-insight

# Keycloak Admin Credentials
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# General Settings
SERVER_PORT_EUREKA=8761
SERVER_PORT_CONFIG=8888
SERVER_PORT_PORTFOLIO=8081
SERVER_PORT_MARKET=8082
SERVER_PORT_AI=8083
SERVER_PORT_KEYCLOAK=8085
